In [3]:
# Pandas

In [12]:
import pandas as pd 
import numpy as np

In [13]:
# Series

In [14]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [15]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [16]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [17]:
s['서울']

9904312

In [18]:
s[0]

9904312

In [19]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [20]:
type(s.values)

numpy.ndarray

In [21]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [22]:
### 시리즈 연산

In [23]:
s / 1000

도시
서울    9904.312
부산    3448.737
인천    2890.451
대구    2466.052
Name: 인구, dtype: float64

In [ ]:
### 시리즈 인덱싱

In [24]:
s[1], s['부산']

(3448737, 3448737)

In [26]:
# 부분 추출 
s[[1, 3]]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [27]:
s[['부산', '대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

In [28]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [29]:
s[0:1]

도시
서울    9904312
Name: 인구, dtype: int64

In [30]:
s['부산' : '대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [31]:
s[s>3e6]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64

In [32]:
s0 = pd.Series(range(3), index=['a', 'b', 'c'])
s0

a    0
b    1
c    2
dtype: int64

In [33]:
s0.a

0

In [34]:
s.부산

3448737

In [35]:
### 시리즈와 딕셔너리

In [36]:
'대구' in s

True

In [37]:
for key, value in s.items():
    print(f'{key}={value}')

서울=9904312
부산=3448737
인천=2890451
대구=2466052

In [38]:
s2_dict = {"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}
s2 = pd.Series(s2_dict)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [39]:
s2 = pd.Series(s2_dict, index=['서울', '부산', '인천', '대전'])
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [40]:
### 인덱스 기반 연산

In [41]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [42]:
s.values - s2.values

array([272830,  55546, 258416, 975894], dtype=int64)

In [45]:
rs = (s-s2) / s2 * 100  #증가율
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [46]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [51]:
rs = rs[rs.notnull()]
rs

대구    1.410000
부산    1.640000
서울    2.832690
인천    9.818107
dtype: float64

In [ ]:
### 데이터의 갱신, 추가, 삭제

In [52]:
# 갱신
rs['부산'] = 1.64
rs['대구'] = 1.41
rs

대구    1.410000
부산    1.640000
서울    2.832690
인천    9.818107
dtype: float64

In [53]:
# 추가
rs['강화도'] = 3.4
rs

대구     1.410000
부산     1.640000
서울     2.832690
인천     9.818107
강화도    3.400000
dtype: float64

In [55]:
# 삭제
del rs['서울']
rs

대구     1.410000
부산     1.640000
인천     9.818107
강화도    3.400000
dtype: float64

In [ ]:
### 데이터 프레임

In [ ]:
### 데이터 프레임 생성

In [56]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [57]:
df = pd.DataFrame(data, index=['서울', '부산', '인천', '대구'], columns=['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'])
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [58]:
pd.DataFrame(np.arange(16).reshape(4,-1))

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [59]:
df.index
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [60]:
df.index.name = '도시'
df.columns.name = '항목'
df

항목   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [61]:
df.T

도시                  서울       부산       인천       대구
항목
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [62]:
### 열 데이터의 갱신, 추가, 삭제

In [63]:
df['2010-2015 증가율'] = df['2010-2015 증가율'] * 100
df

항목   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [65]:
# 추가
df['2000-2015 증가율'] = (df['2015']-df['2000']) / df ['2000'] * 100
df

항목   지역     2015     2010     2005     2000  2010-2015 증가율  2000-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83       0.510860
부산  경상권  3448737  3393191  3512547  3655437           1.63      -5.654591
인천  수도권  2890451  2632035  2517680  2466338           9.82      17.196062
대구  경상권  2466052  2431774  2456016  2473990           1.41      -0.320858

In [66]:
# 삭제
del df['2010-2015 증가율']
df

항목   지역     2015     2010     2005     2000  2000-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972       0.510860
부산  경상권  3448737  3393191  3512547  3655437      -5.654591
인천  수도권  2890451  2632035  2517680  2466338      17.196062
대구  경상권  2466052  2431774  2456016  2473990      -0.320858

In [67]:
### 열 인덱싱

In [69]:
df['지역']['서울']

'수도권'

In [70]:
df[['2015', '2010']]

항목     2015     2010
도시
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [71]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [72]:
df[['지역']]

항목   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [ ]:
## 행 인덱싱
  - 반드시 슬라이싱을 해야 함