## 고급 인덱싱

In [3]:
import numpy as np 
import pandas as pd

### loc 인덱서
  - df.loc['행','열']

 - 행 인덱싱만 받는 경우

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [11]:
df['A']

a    10
b    14
c    18
Name: A, dtype: int32

In [14]:
df.loc[:'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [15]:
df.loc['b':]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [16]:
df.loc[['a', 'c']]

    A   B   C   D
a  10  11  12  13
c  18  19  20  21

In [17]:
df['A'] > 15       #df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [18]:
df[['A']] > 15

       A
a  False
b  False
c   True

In [19]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

 - 행과 열 인덱스를 모두 받는 경우

In [20]:
df.loc['a', 'A']

10

In [21]:
# 15, 16, 19, 20
df.loc['b':, 'B':'C']

    B   C
b  15  16
c  19  20

In [24]:
# 16, 20
df.loc['b':, 'C']

b    16
c    20
Name: C, dtype: int32

In [25]:
df.loc['b':, 'C':'C']

    C
b  16
c  20

### iloc 인덱서

In [26]:
df.iloc[1,1]

15

In [27]:
df.iloc[2,3]

21

In [28]:
df.iloc[2]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [30]:
df.iloc[:,0]

a    10
b    14
c    18
Name: A, dtype: int32