## 시각화 중요성 - Anscombe's Quartet

In [2]:
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline

mpl.rcParams['axes.unicode_minus'] = False
mpl.rcParams["font.family"] = 'NanumBarunGothic'

In [3]:
import seaborn as sns 

ans = sns.load_dataset('anscombe')
ans.shape

(44, 3)

In [4]:
ans.head(3)

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58

In [5]:
ans.tail(3)

   dataset    x     y
41      IV  8.0  5.56
42      IV  8.0  7.91
43      IV  8.0  6.89